version: "3.8"

services:
    app:
        container_name: my_championship_dotnet_app
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "5000:5000"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
        volumes:
            - .:/app
        depends_on:
            - db
        networks:
            - app_my_championship_dotnet_network

    db:
        image: postgres:latest
        container_name: postgres_db
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: "postgres"
            POSTGRES_PASSWORD: "postgres"
            POSTGRES_DB: "my_championship"
        volumes:
            - postgresdata:/var/lib/postgresql
        networks:
            - app_my_championship_dotnet_network

volumes:
    postgresdata:

networks:
    app_my_championship_dotnet_network:
