version: "3.8"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "5000:5000"
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
        volumes:
            - .:/app
            - /app/node_modules
        depends_on:
            - db

    db:
        image: postgres:latest
        container_name: postgres_db
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: "postgres"
            POSTGRES_PASSWORD: "postgres"
            POSTGRES_DB: "my_championship"
        volumes:
            - postgresdata:/var/lib/postgresql/data

volumes:
    postgresdata:
